<div class="row">
  <div class="col-xs-12">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1 class="panel-title">World Cup 2014 Teams</h1>
      </div>
    </div>
    <div class="team__list btn-toolbar">
      <div class="btn-group">
        <button ng-repeat="team in wcTeams" ng-click="setTeam(team)" class="btn btn-default btn-xs">{{team.fifa_code}}</button>
      </div>
    </div>

    <div class="jumbotron" ng-show="currentTeam" ng-repeat="result in teamResults | filter:currentTeam.country">
      <h2>Results</h2>
      <h3>{{result.country}}</h3>
      <table class="table">
        <thead>
          <tr>
            <th>Wins</th>
            <th>Draws</th>
            <th>Losses</th>
            <th>Games Played</th>
            <th>Pts</th>
            <th>GF</th>
            <th>GA</th>
            <th>GD</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{result.wins}}</td>
            <td>{{result.draws}}</td>
            <td>{{result.losses}}</td>
            <td>{{result.games_played}}</td>
            <td>{{result.points}}</td>
            <td>{{result.goals_for}}</td>
            <td>{{result.goals_against}}</td>
            <td>{{result.goal_differential}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
